<div class = "jumbotron text-center">
    <h1> Calendar </h1>
    <p class = "lead"> Bem-vindo ao sistema de eventos! </p>
    <div>
        <a class = "btn btn-primary" [routerLink] = "['/register']">Registrar</a>
        <a class = "btn btn-secondary" [routerLink] = "['/login']">Entrar</a>
    </div>
</div>

<div class = "row">
    <div class = "col-md-4">
        <h3>Registre-se</h3>
        <p>Faça seu registro no sistema e acesse sua conta!</p>
    </div>
    
    <div class = "col-md-4">
        <h3>Monte seu calendário</h3>
        <p>Gerencie seus eventos em seu calendário.</p>
    </div>

    <div class = "col-md-4">
        <h3>Organize melhor seu tempo</h3>
        <p>Mantenha controle de seus próximos eventos!</p>
    </div>
</div>