<h2 class = "page-header">Atualizar evento</h2>

<form (submit) = "onEditSubmit()">
    <div class = "form-group">
        <label> Descrição </label>
        <input type = "text" [(ngModel)] = "description" name = "description" class = "form-control">
    </div>

    <div class = "form-group">
        <label> Início </label>
        <dl-date-time-picker
        startView="day"
        maxView="year"
        minView="minute"
        minuteStep="5"
        [(ngModel)]="dateBegin"
        name = "dateBegin"
        >
        </dl-date-time-picker>
    </div>
    
    <div class = "form-group">
        <label> Término </label>
        <dl-date-time-picker
        startView="day"
        maxView="year"
        minView="minute"
        minuteStep="5"
        [(ngModel)]="dateEnd"
        name = "dateEnd"
        >
        </dl-date-time-picker>
    </div>
    
    <input type = "submit" class = "btn btn-primary" value = "Submit">
</form>